<?xml version="1.0" encoding="UTF-8"?>
<configuration>

    <appender name="CONSOLE" class="ch.qos.logback.core.ConsoleAppender">
        <encoder class="net.logstash.logback.encoder.LogstashEncoder">
        </encoder>
    </appender>

    <logger name="com.example" level="TRACE"/>
    <logger name="com.tersesystems.echopraxia.plusakka" level="TRACE"/>

    <root level="INFO">
        <appender-ref ref="CONSOLE" />
    </root>
</configuration>