<?xml version="1.0" encoding="UTF-8"?>
<configuration>

    <appender name="CONSOLE" class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <pattern>%date{H:mm:ss.SSS} %logger %highlight(%-5level) [%thread]: %message%n%ex</pattern>
        </encoder>
    </appender>

    <logger name="com.example" level="TRACE"/>
    <logger name="com.tersesystems.echopraxia.plusakka" level="TRACE"/>

    <root level="INFO">
        <appender-ref ref="CONSOLE" />
    </root>
</configuration>